<html>
<head>
  <style>
      .navbar{
          display: none;
      }
      body{

          background:greenyellow;
      }

      .vertical-offset-100{
          padding-top:100px;
      }
      .row{
          width:100%;
      }
  </style>

    <script>
        $(document).ready(function(){
            $(document).mousemove(function(e){
                TweenLite.to($('body'),
                        .5,
                        { css:
                                {
                                    backgroundPosition: ""+ parseInt(event.pageX/8) + "px "+parseInt(event.pageY/'12')+"px, "+parseInt(event.pageX/'15')+"px "+parseInt(event.pageY/'15')+"px, "+parseInt(event.pageX/'30')+"px "+parseInt(event.pageY/'30')+"px"
                                }
                        });
            });
        });
    </script>
</head>
<body>

<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
<!-- This is a very simple parallax effect achieved by simple CSS 3 multiple backgrounds, made by http://twitter.com/msurguy -->

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4" style="width: 40%;height: 100%;margin-top: 300px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Admin Login</h3>
                </div>
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form" action="/admin_login" method="post">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="E-mail" name="email" type="text">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="">
                            </div>
                          <!--  <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                                </label>
                            </div>-->
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
