<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css"/>

    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Amiri&subset=arabic,latin">
<!--
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
-->
<!--
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
/*
    padding-top:10em;
*/
}
.index-social{
    background-color:#2c2c2c;
    color:#fff;
}
.link-area .fa-li{
    width:40px;
    height:40px;
    border-radius:50%;
    border:solid 1px #fff;
    list-style-type:none;
    margin:5px;
    display:inline-block;
}
.index-social a{
    color:#fff;
    font-size:25px;
    display:block;
    float:left;
    padding:10px;
}
.index-link h3{
    text-align:center;
    color:#f1f1f1;
    text-align:left;

}
.index-link{
    background-color:#000;
}
.index-link ul{
    padding:0px;
}
.index-link ul li{
    list-style-type:none;
}
.index-link ul li a{
    text-decoration:none;
    font-size:16px;
    color:#fff;
    display:block;
    padding:5px 0;
    text-align:left;
}
.index-link ul li a:hover{
    text-decoration:underline;
}
.copy-c{
    padding-top:15px;
}


</style>


</head>
<body>

<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" style="font-family:Amiri; font-size: large;"><a class="navbar-brand" style="color:yellow;" href="/" >جيهان اكسبريس</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span
                    class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                    class="icon-bar"></span>
            </button>
        </div>

       <!-- <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" dir="rtl" placeholder="البحث عن منتج">
            </div>
            <button type="submit" class="btn btn-default">بحث</button>
        </form>-->

        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-right">
                {{#if user}}
                    <li>
                        <a href="/cart" style="font-size:large;">
                            <span class="badge">{{session.cart.totalqty}}</span>

                            <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:large;"></i>
                            عربة التسوق
                        </a>

                    </li>

                    <li><a href="/search" style="font-size: large;">منتجاتنا</a>
                  <!--  </li>
                    <li><a href="/user/dashboard"style="font-size: large;">الصفحة الشخصية</a>
                    </li>-->
                    <li><a href="/about"style="font-size: large;">من نحن</a>
                    </li>
                    <li><a href="/faq"style="font-size: large;">الاسئلة الشائعة</a>
                    </li>
                    <li><a href="/contact"style="font-size: large;">اتصل بنا</a>
                    </li>
                    <li><a href="/logout"style="font-size: large;">تسجيل الخروج</a>
                    </li>
                {{else}}
                    <li>
                        <a href="/cart " style="font-size: large;">
                            <span class="badge">{{session.cart.totalqty}}</span>

                            <i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:large;"></i>
                            عربة التسوق
                        </a>

                    </li>
                    <li><a href="/search" style="font-size:large;">منتجاتنا</a></li>
                    <li><a href="/login"style="font-size: large;">تسجيل الدخول</a>
                    </li>
                    <li><a href="/register"style="font-size: large;">التسجيل</a>
                    </li>
                    <li><a href="/about"style="font-size: large;">من نحن</a>
                    </li>
                    <li><a href="/faq"style="font-size: large;">الاسئلة الشائعة</a>
                    </li>
                    <li><a href="/contact"style="font-size: large;">اتصل بنا</a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</div>

<!--
<img src="/images/droppedImage.png" height="1%" width="100%">
-->
<!--
<div dir="rtl" style="font-family:'Amiri', serif ;"><center><font size="10" >عروض الشركة</font></center></div>
-->
<!--<div id="myCarousel" class="carousel slide" data-ride="carousel">-->
    <!--&lt;!&ndash; Indicators &ndash;&gt;-->
    <!--<ol class="carousel-indicators">-->
        <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
        <!--<li data-target="#myCarousel" data-slide-to="2"></li>-->
    <!--</ol>-->

    <!--&lt;!&ndash; Wrapper for slides &ndash;&gt;-->
    <!--<div class="carousel-inner">-->
        <!--<div class="item active">-->
            <!--<img src="/images/banner/images.jpeg" alt="Los Angeles" >-->
        <!--</div>-->

        <!--<div class="item">-->
            <!--<img src="/images/banner/ind2ex.jpeg" alt="Chicago">-->
        <!--</div>-->

        <!--<div class="item">-->
            <!--<img src="/images/banner/offer-banner.jpg" alt="New york">-->
        <!--</div>-->
        <!--<div class="item">-->
            <!--<img src="/images/banner/inde54x.jpeg" alt="New york">-->
        <!--</div>-->
        <!--<div class="item">-->
            <!--<img src="/images/banner/shopping.jpg" alt="New york">-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Left and right controls &ndash;&gt;-->
    <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">-->
        <!--<span class="glyphicon glyphicon-chevron-left"></span>-->
        <!--<span class="sr-only">Previous</span>-->
    <!--</a>-->
    <!--<a class="right carousel-control" href="#myCarousel" data-slide="next">-->
        <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
        <!--<span class="sr-only">Next</span>-->
    <!--</a>-->

<!--</div>-->





    <div class="container">


    <div >
        <div>
            {{#if success_msg}}
                <div class="alert alert-success">{{success_msg}}</div>
            {{/if}}

            {{#if error_msg}}
                <div class="alert alert-danger">{{error_msg}}</div>
            {{/if}}

            {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
            {{/if}}

            {{{body}}}
        </div>
    </div>


</div> <!-- /container -->





<footer class="footer">
<!--
    <p>&copy; copyright 2017 egystack corporation. all rights reserved</p>
-->
    <section class="index-link">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div dir="ltr">
                        <h3 dir="rtl" style="text-align: center; color:red;">تواصل معنا</h3>
                        <br>
                        <li><a href="https://www.facebook.com" style="color: white">facebook</i>
                        </a></li>
                        <li ><a href="https://instegram.com"style="color: white">instegram</i>
                        </a></li>
                        <li ><a href="https://twitter.com"style="color: white">twitter</i>
                        </a></li>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="link-area">
                        <h3 style="text-align: center; color:red;">اجدد العروض</h3>
                        <ul >
                            <li><a href="#" style="text-align: center"> منتج 1</a></li>
                            <li><a href="#" style="text-align: center"> منتج 2</a></li>
                            <li><a href="#" style="text-align: center">منتج 3</a></li>
                            <li><a href="#" style="text-align: center">منتج 4</a></li>
                            <li><a href="#" style="text-align: center">منتج 5</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="link-area">
                        <h3 style="text-align: center ; color:red;" >روابط تهمك</h3>
                        <ul>
                            <li><a href="/search" style="text-align: center"> الصفحة الرئيسية</a></li>
                            <li><a href="/about" style="text-align: center">من نحن</a></li>
                            <li><a href="/faq" style="text-align: center"> الاسئلة الشائعة</a></li>
                            <li><a href="/contact" style="text-align: center">اتصل بنا</a></li>
                            <li><a href="#" style="text-align: center">وظائف المندوبين</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="index-social">
        <div class="container">
            <div class="row index-social-link text-center" style="font-size:large">
                <p>&copy; copyright 2017 egystack corporation. all rights reserved</p>

            </div>
        </div>
    </section>
</footer>


</body>
</html>
