
<style>
    .container{
        width:90%;
    }
</style>
<div class="container">

    <div class="row" style="width: 100%">

        <div class="col-lg-12">
            <ol class="breadcrumb" dir="rtl">
                <li><a href="/">الصفحة الرئيسية</a>
                </li>
                <li class="active">من نحن؟</li>
            </ol>
        </div>

    </div>

    <div class="row" style="width: 100%">

        <div class="col-md-6">
            <img class="img-responsive" src="http://planetbeauties.com/wp-content/uploads/2017/05/shopping.jpg">
        </div>
        <div class="col-md-6">
            <h2 dir="rtl" font="Amiri">مرحبا بكم فى موقع جيهان اكسبريس للتسوق الالكترونى</h2>

            <p dir="rtl">رضاؤكم هو هدفنافالصفقة تتم عند العميل</p>

            <p dir="rtl">يحرص موقع جيهان اكسبريس على تلبية احتياجات السادة العملاء الكرام من خلال توفير العروض التى تلائم كافة الفئات العمرية ..الخ</p>
        </div>

    </div>

    <!-- Team Member Profiles -->

    <!--   <div class="row">

           <div class="col-lg-12">
               <h2 class="page-header">Our Team</h2>
           </div>

           <div class="col-sm-4">
               <img class="img-responsive" src="http://placehold.it/750x450">

               <h3>John Smith
                   <small>Job Title</small>
               </h3>
               <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
               <ul class="list-unstyled list-inline list-social-icons">
                   <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Facebook"><i
                           class="fa fa-facebook-square fa-2x"></i></a>
                   </li>
                   <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                               data-placement="top" title="LinkedIn"><i
                           class="fa fa-linkedin-square fa-2x"></i></a>
                   </li>
                   <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                              data-placement="top" title="Twitter"><i
                           class="fa fa-twitter-square fa-2x"></i></a>
                   </li>
                   <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                                  data-placement="top" title="Google+"><i
                           class="fa fa-google-plus-square fa-2x"></i></a>
                   </li>
               </ul>
           </div>

           <div class="col-sm-4">
               <img class="img-responsive" src="http://placehold.it/750x450">

               <h3>John Smith
                   <small>Job Title</small>
               </h3>
               <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
               <ul class="list-unstyled list-inline list-social-icons">
                   <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Facebook"><i
                           class="fa fa-facebook-square fa-2x"></i></a>
                   </li>
                   <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                               data-placement="top" title="LinkedIn"><i
                           class="fa fa-linkedin-square fa-2x"></i></a>
                   </li>
                   <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                              data-placement="top" title="Twitter"><i
                           class="fa fa-twitter-square fa-2x"></i></a>
                   </li>
                   <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                                  data-placement="top" title="Google+"><i
                           class="fa fa-google-plus-square fa-2x"></i></a>
                   </li>
               </ul>
           </div>-->

    <!-- <div class="col-sm-4">
         <img class="img-responsive" src="http://placehold.it/750x450">

         <h3>John Smith
             <small>Job Title</small>
         </h3>
         <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
         <ul class="list-unstyled list-inline list-social-icons">
             <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                         data-placement="top" title="Facebook"><i
                     class="fa fa-facebook-square fa-2x"></i></a>
             </li>
             <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                         data-placement="top" title="LinkedIn"><i
                     class="fa fa-linkedin-square fa-2x"></i></a>
             </li>
             <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                        data-placement="top" title="Twitter"><i
                     class="fa fa-twitter-square fa-2x"></i></a>
             </li>
             <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Google+"><i
                     class="fa fa-google-plus-square fa-2x"></i></a>
             </li>
         </ul>
     </div>-->

    <!--    <div class="col-sm-4">
            <img class="img-responsive" src="http://placehold.it/750x450">

            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>-->

    <!-- <div class="col-sm-4">
         <img class="img-responsive" src="http://placehold.it/750x450">

         <h3>John Smith
             <small>Job Title</small>
         </h3>
         <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
         <ul class="list-unstyled list-inline list-social-icons">
             <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                         data-placement="top" title="Facebook"><i
                     class="fa fa-facebook-square fa-2x"></i></a>
             </li>
             <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                         data-placement="top" title="LinkedIn"><i
                     class="fa fa-linkedin-square fa-2x"></i></a>
             </li>
             <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                        data-placement="top" title="Twitter"><i
                     class="fa fa-twitter-square fa-2x"></i></a>
             </li>
             <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Google+"><i
                     class="fa fa-google-plus-square fa-2x"></i></a>
             </li>
         </ul>
     </div>-->

    <!-- <div class="col-sm-4">
         <img class="img-responsive" src="http://placehold.it/750x450">

         <h3>John Smith
             <small>Job Title</small>
         </h3>
         <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
         <ul class="list-unstyled list-inline list-social-icons">
             <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                         data-placement="top" title="Facebook"><i
                     class="fa fa-facebook-square fa-2x"></i></a>
             </li>
             <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                         data-placement="top" title="LinkedIn"><i
                     class="fa fa-linkedin-square fa-2x"></i></a>
             </li>
             <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                        data-placement="top" title="Twitter"><i
                     class="fa fa-twitter-square fa-2x"></i></a>
             </li>
             <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Google+"><i
                     class="fa fa-google-plus-square fa-2x"></i></a>
             </li>
         </ul>
     </div>-->

</div>

<!-- Our Customers -->

<!--<div class="row">

    <div class="col-lg-12">
        <h2 class="page-header">Our Customers</h2>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive img-customer" src="http://placehold.it/500x300">
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive img-customer" src="http://placehold.it/500x300">
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive img-customer" src="http://placehold.it/500x300">
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive img-customer" src="http://placehold.it/500x300">
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive img-customer" src="http://placehold.it/500x300">
    </div>

    <div class="col-md-2 col-sm-4 col-xs-6">
        <img class="img-responsive img-customer" src="http://placehold.it/500x300">
    </div>

</div>-->

</div>
<!-- /.container -->