<html>
<head>

<style>

.container{
    width:100%;
}
    .table>tbody>tr>td, .table>tfoot>tr>td{
        vertical-align: middle;
    }
    @media screen and (max-width: 600px) {
        table#cart tbody td .form-control{
            width:20%;
            display: inline !important;
        }
        .actions .btn{
            width:36%;
            margin:1.5em 0;
        }

        .actions .btn-info{
            float:left;
        }
        .actions .btn-danger{
            float:right;
        }

        table#cart thead { display: none; }
        table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
        table#cart tbody tr td:first-child { background: #333; color: #fff; }
        table#cart tbody td:before {
            content: attr(data-th); font-weight: bold;
            display: inline-block; width: 8rem;
        }



        table#cart tfoot td{display:block; }
        table#cart tfoot td .btn{display:block;}

    }
</style>

<!--
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
-->
</head>
<body>

<div class="container">
    <table id="cart" class="table table-hover table-condensed">
        <thead>
        <tr>
            <th style="width:50%">المنتج</th>
            <th style="width:8%">الكمية</th>
            <th style="width:22%" class="text-center">سعر السلعة</th>
            <th style="width:10%"></th>
        </tr>
        </thead>
            {{#each session.cart.items}}
        <tbody>
        <tr>
            <td data-th="Product">
                <div class="row">
                    <div class="col-sm-5 hidden-xs"><img src="{{this.itemaa.imagepath}}" style="height: 150px;width: 100%" alt="..." class="img-responsive" /></div>
                    <div class="col-sm-10">
                        <h4 class="nomargin">{{this.itemaa.title}}</h4>
                    </div>
                </div>
            </td>
            <td data-th="Quantity">

                <span type="number" class="badge" >
    {{this.qty}}
    </span>

            </td>
            <td data-th="Subtotal" class="text-center">{{this.price}}</td>
            <td class="actions" data-th="">
                <a href="/cart_del/{{this.itemaa._id}}" class="btn btn-danger btn-sm"> حذف من السلة<i class="fa fa-trash-o" role="button"></i></a>
            </td>
        </tr>
        </tbody>
        {{/each}}

        <tfoot>

        <tr>
            <td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> العودة لصفحة التسوق</a></td>
            <td colspan="1" class="hidden-xs"></td>
            <td class="hidden-xs text-center"><strong>$ الاجمالى : {{session.cart.totalprice}} </strong></td>
            <td><a href="/request_product/" class="btn btn-success btn-block">اكمال عملية الشراء  <i class="fa fa-angle-right"></i></a></td>
        </tr>
        </tfoot>
    </table>

</div>

</body>
<aasss dir="rtl">{{tst}}</aasss>

</html>
