<!-- Page Content -->
<style>
    .container{
        width:90%;
    }
</style>
<div class="container" dir="rtl">

    <div class="row" >

        <div class="col-lg-12">
            <h1 class="page-header"> خدمة العملاء
                <br>
                <small>نرحب باسئلتكم و استفساراتكم على مدار الساعة</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="/">الصفحة الرئيسية</a></li>
                <li class="active">اتصل بنا</li>
            </ol>
        </div>

        <div class="col-lg-12">
            <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
            <iframe class="col-lg-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1169976.1318722216!2d32.29546853803158!3d15.587320727386137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x168e8bf303b5ade3%3A0xffa2d3531b1ae48f!2sOmdurman%2C+Sudan!5e0!3m2!1sen!2sbh!4v1502782182194" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

    </div>
    <!-- /.row -->
<br> <br>
    <div class="row" style="width: 100%">

        <div class="col-sm-8">
            <h3>مراسلة خدمة العملاء</h3>

            <p>يتشرف قسم الدعم الفنى و خدمة العملاء بالرد على استفساراتكم خلال ساعات العمل على الهاتف كما يشرفنا الرد على استفساراتكم على مدار الساعة من خلال خدمة الرسائل الخاصة </p>

            <form role="form" method="POST" action="#">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="input1">الاسم</label>
                        <input type="text" name="contact_name" class="form-control" id="input1">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input2">البريد الالكترونى</label>
                        <input type="email" name="contact_email" class="form-control" id="input2">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input3">رقم التليفون</label>
                        <input type="phone" name="contact_phone" class="form-control" id="input3">
                    </div>
                        <div class="form-group col-lg-12">
                        <label for="input4">نص الرسالة</label>
                        <textarea name="contact_message" class="form-control" rows="6" id="input4"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" name="save" >
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-4">
            <h3 style="background:beige;font-family: Amiri">جيهان اكسبريس للتسويق الالكترونى</h3>
            <h4>شعارنا: الصفقة تتم عند العميل</h4>

            <p>
                :23 شارع الصفوة - ام درمان<br>
                الخرطوم - السودان <br>
            </p>

            <p><i class="fa fa-phone"></i> التلفون : (555) 984-3600</p>

            <p><i class="fa fa-envelope-o"></i> البريد الالكترونى :<a href="mailto:feedback@startbootstrap.com">MrKhaled@jihanexpress.com</a></p>
            <p><i class="fa fa-clock-o"></i>

                صفحتنا على الفيس بوك :
                <a href="#facepage">جيهان اكسبريس</a>
            </p>
            <p><i class="fa fa-clock-o"></i> مواعيد العمل الرسمية : طوال الاسبوع من العاشرة صباحا و حتى الثانية عشر مساء</p>

        </div>

    </div>
    <!-- /.row -->

</div><!-- /.container -->

