<style>
    .container{
        width:90%;
    }
</style>
<div class="container">
    <br />
    <br />
    <br />

    <div dir="rtl" class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        هذه الصفحة مخصصة للاجابة عن اسئلتكم و استفساراتكم بخصوص اى موضوع يتعلق بخدمات جيهان اكسبريس للتسوق الالكترونى و خدمات مابعد البيع .. يسعدنا ان نتلقى شكواكم و اقتراحاتكم من خلال
        <a href="/contact">هذا الرابط</a>
    </div>

    <br />

    <div class="panel-group" id="accordion">
        <div class="faqHeader" dir="rtl">الاسئلة العامة</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" dir="rtl">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" >هل احتاج لعمل حساب كى اشترى منتجات جيهان اكسبريس؟ </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body" dir="rtl">
                    لا.. فقط قم بارسال طلب الشراء و تأكد من استيفاءمعلومات التوصيل كاملة و سيتم التواصل معك من قبل احد ممثلى خدمة العملاء للشركة لتحديد مكان و موعد التسليم
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" dir="rtl">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">هل استطيع التسويق لمنتجات خاصة بى على الموقع ؟ </a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body" dir="rtl">
                    بالطبع تستطيع ذلك فى مقابل مادى رمزى يتناسب مع كمية البضاعة المباعة من خلال موقعنا
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" dir="rtl">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">ماهى العملة المستخدمة فى الشراء على الموقع عند الاستلام</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body" dir="rtl">
الجنيه السودانى                </div>
            </div>
        </div>

        <div class="faqHeader" dir="rtl">البائعين</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" dir="rtl">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">من يمكنه البيع و التسويق على الموقع؟</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body" dir="rtl">
اى شخص لديه حساب مفعل على الموقع يمكنه ذلك بسهولة
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" dir="rtl">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">ماهى الخطوات اللازم اتباعها لتسويق سلعتى على موقع جيهان اكسبريس ؟</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body" dir="rtl">
                    الخطوات الواجب اتباعها لاتمام عملية التسويق على الموقع سهلة للغاية .. فكل ماتحتاجه هو :
                    <ul dir="rtl">
                        <li>تسجيل حساب على الموقع من خلال  <a href="/register"> هذا الرابط</a> </li>
                        <li>تفعيل الحساب من خلال الضغط على رابط التفعيل المرسل الى البريد الالكترونى الذى قمت بالتسجيل به</li>
                        <li>اضغط على <a href="/contact">هذا الرابط</a> للتنسيق مع احد ممثلى خدمة العملاء</li>
                        <li>الخطوة الاخيرة هى انتظار الموافقة على طلب التسويق للمنتج من قبل احد المديرين .. عادة مايستغرق ذلك من 12 ال 24 ساعة على الاكثر </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="faqHeader" dir="rtl">المندوبين</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" dir="rtl">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">ماهى كمية المال التى سأحصل عليها لقاء بيع سلعة على الموقع كمندوب ؟</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body" dir="rtl">
الاجابة                    <br />
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" dir="rtl">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">لماذا استخدم جيهان اكسبريس  فى التسويق الالكترونى عوضا عن السوشيال ميديا و غيرها؟</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body" dir="rtl">
                   <!-- <ul>
                        <li>A great 70% flat rate for your items.</li>
                        <li>Fast response/approval times. Many sites take weeks to process a theme or template. And if it gets rejected, there is another iteration. We have aliminated this, and made the process very fast. It only takes up to 72 hours for a template/theme to get reviewed.</li>
                        <li>We are not an exclusive marketplace. This means that you can sell your items on <strong>PrepBootstrap</strong>, as well as on any other marketplate, and thus increase your earning potential.</li>
                    </ul>-->
                    الاجابة
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" dir="rtl">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">كيف يمكننى الدفع عند الشراء كمندوب؟</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body" dir="rtl">
الاجابة                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" dir="rtl">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">متى سأحصل على المقابل عند بيع سلعة كمندوب للشركة؟</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body" dir="rtl">
الاجابة                </div>
            </div>
        </div>




        <div class="faqHeader" dir="rtl">المشترين</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" dir="rtl">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">ماهى الخطوات اللازمة لشراء سلعة بواسطة موقع الشركة؟</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body" dir="rtl">
يمكنك ذلك بسهولة ويسر من خلال الضغط على ايقونة شراء المنتج الملحقة بالسلعة المراد شراؤها .. بعد ذلك قم بملء نموذج طلب السلعة وسوف يتواصل معك احد مندوبى الشركة
                    للاتفاق على مكان و موعد التسليم
                    <br />
                </div>
            </div>
        </div>
    <!--    <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Is this the latest version of an item</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    Each item in <strong>PrepBootstrap</strong> is maintained to its latest version. This ensures its smooth operation.
                </div>
            </div>
        </div>-->
    </div>
</div>

<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "\e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
</style>