<style>
    .container{
        width:100%;
    }
</style>
<br>

<form dir="rtl"method="post" action="/forgot">
    <legend>اعادة تعيين كلمة السر</legend>
    <div class="form-group"></div>
    <label for="email">البريد الالكترونى</label>
    <input class="form-control" type="text" name="email" autofocus="autofocus" style="width: 50%"/>
    <br>

    <button class="btn btn-primary" type="submit">اعادة تعيين</button>
</form>

