<html>
<head>
    <script src="bootstrap/bootstrap-2.3.1.min.js"></script>
    <style>
        .container{
            width:100%;
        }
    </style>
</head>
<body dir="rtl">
<h2 class="page-header">تسجيل الدخول</h2>
<form class="reglog" method="post" action="/login">
    <div class="form-group">
        <label>اسم المستخدم</label>
        <input type="text" class="form-control" name="username" placeholder="اسم المستخدم">
    </div>
    <div class="form-group">
        <label>كلمة المرور</label>
        <input type="password" class="form-control" name="password" placeholder="كلمة المرور">
    </div>
    <a id="mylink" href="/forgot">هل نسيت كلمة السر؟</a>
    <br>
    <br>
    <button type="submit" class="btn btn-default">تسجيل الدخول</button>

</form>
</body>
</html>