<html>

<head>
<style>
    .container{
        width:100%;
    }
</style>
</head>
<body dir="rtl">
<!--{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}-->
<h2 class="page-header">انشاء حساب</h2>
<form class="reglog" method="post" action="/register">
    <div class="form-group">
        <label>اسم المستخدم</label>
        <input type="text" class="form-control" placeholder="يرجى كتابة الاسم الثلاثى" name="name" required>
    </div>
    <div class="form-group">
        <label>اسم تسجيل الدخول</label>
        <input type="text" class="form-control" placeholder="ستحتاج هذا الاسم وكلمة السر لتسجيل الدخول فيما بعد .. تذكره جيدا" name="username" required>
    </div>
    <div class="form-group">
        <label>البريد الالكترونى</label>
        <input type="email" class="form-control" placeholder="البريد الالكترونى" name="email" required>
    </div>
    <div class="form-group">
        <label>كلمة السر</label>
        <input type="password" minlength=3 class="form-control" placeholder="من فضلك ادخل كلمة السر" name="password" required>
    </div>
    <div class="form-group">
        <label>تأكيد كلمة السر</label>
        <input type="password" minlength=3 class="form-control" placeholder="اعد كتابة كلمة السر مرة اخرى" name="password2" required>
    </div>
    <label for="exampleInputFile">نوع الحساب</label><br>

  <!--  <select name="account_type">

        <option>مندوب مبيعات</option>
        <option>مشترى</option>

    </select>-->


    <script type="text/javascript">
        function dropdownTip(value){
            console.log(value);
            document.getElementById("result").innerHTML = value;
        }</script>

    <select onChange="dropdownTip(this.value)" name="account_type" >
        <option value="سيتم ارسال ميل التفعيل الى بريدك الالكترونى اعلاه">مشترى</option>
        <option value="سيتم ارسال ميل التفعيل الى البريد الالكترونى الخاص بالادارة للتحقق من هويتك">مندوب مبيعات</option>

    </select>

    <div id="result"></div>


    <br>
    <br>

    <button type="submit" class="btn btn-primary">تسجيل</button>
</form>
</body>
</html>

