<html>
<head>
    <body>
<h2  dir="rtl" class="page-header">طلب منتج</h2>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}
<form method="post" action="/request_product" dir="rtl">
    <div class="form-group">
        <label>الاسم</label>
        <input type="text" class="form-control"  name="name">
    </div>
    <div class="form-group">
        <label>البريد الالكترونى</label>
        <input type="email" class="form-control" name="email">
    </div>
    <div class="form-group">
        <label>العنوان</label>
        <input type="text" class="form-control" name="address">
    </div>
    <div class="form-group">
        <label>رقم الهاتف</label>
        <input type="number" class="form-control" name="phone" placeholder="برجاء اختيار رقم متاح ليتم التواصل معكم بواسطة احد ممثلى خدمة العملاء">
    </div>
   <!-- <div class="form-group">
        <label>الكمية</label>
        <input type="number " min="1" class="form-control" name="quantity">
    </div>-->


    <button href="/req_product/:id" type="submit" class="btn btn-default">طلب المنتج</button>
</form>

    </body>
</head>
</html>
