/* Space out content a bit */
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(119, 119, 119, 1);
}

#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 1);
    border-bottom-width: 1px;
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(8, 8, 8, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > li > a:focus {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(255, 255, 255, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav > .active > a:focus {
    color: rgba(85, 85, 85, 1);
    background-color: rgba(0, 0, 0, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #000000;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #000000;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #000000;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000000;
}

body {
    height: 100%;
    width: 100%;
    margin: auto;

}

/*ul{
    margin:0;
    padding:0;
    list-style:none;
}*/
li {
    padding-left: 10px; /*spacing between nav bar icons*/
    font-size: 15px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/*.header,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}*/

/* Custom page header */
.header {
    width: 100%;
    height: 100%;
    margin: auto;
    background: red;
    /*left: 50%;
    margin-left: -499px;*/

    /*
    border-bottom: 1px solid #e5e5e5;
    */
}

/* Make the masthead heading the same height as the navigation */
/*.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}*/

/* Custom page footer */
/*.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}*/

/* Customize container */

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.reglog {
    width: 50%;

}

/*!* Main marketing message and sign up button *!
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

!* Supporting marketing content *!
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}*/

/*!* Responsive: Portrait tablets and up *!
@media screen and (min-width: 768px) {
    !* Remove the padding we set earlier *!
    .header,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }

    !* Space out the masthead *!
    .header {
        margin-bottom: 0px;

    }

  !*  !* Remove the bottom border on the jumbotron for visual effect *!
    .jumbotron {
        border-bottom: 0;
    }*!
}*/

/*.page-header {
    margin-top: 0;
    padding-right: 50px;
    padding-left: 50px;
}*/

/*
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}*/
.footer {
    position: relative;
    right: 0;
    top:800px;
    left: 0;
    /*
    padding: 1rem;
    */
    background-color: #efefef;
    text-align: center;
}