<style>
    .list-group-item {
        background-color: #fff;
        border: 10px solid #ddd;
        display: block;
        margin-bottom: -1px;
        padding: 0;
        margin-left: 50px;
        position: relative;
    }
    .list-group-item.active
    {
     margin-left: -1px;

    }

    .container{
        width: 100%;
        margin-right: 400px;
        top:0;

    }
    #categories{
        width:20% ;
        height: 100%;
        right: 0;
        position: absolute ;


    }
    /**THE SAME CSS IS USED IN ALL 3 DEMOS**/
    /**gallery margins**/
    ul.gallery{
        margin-left: 3vw;
        margin-right:3vw;
    }

    .zoom {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
        cursor: zoom-in;
    }

    .zoom:hover,
    .zoom:active,
    .zoom:focus {
        /**adjust scale to desired size,
        add browser prefixes**/
        -ms-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
        position:relative;
        z-index:100;
    }

    /**To keep upscaled images visible on mobile,
    increase left & right margins a bit**/
    @media only screen and (max-width: 768px) {
        ul.gallery {
            margin-left: 15vw;
            margin-right: 15vw;
        }

        /**TIP: Easy escape for touch screens,
        give gallery's parent container a cursor: pointer.**/
        .DivName {cursor: pointer}
    }
</style>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="/images/banner/bnr1.jpeg" alt="Los Angeles" style="width:1500px;height:500px;">
        </div>

        <div class="item">
            <img src="/images/banner/bnr2.jpeg" alt="Chicago" style="width:1500px;height:500px;">
        </div>

        <div class="item">
            <img src="/images/banner/bnr3.jpeg" alt="New york" style="width:1500px;height:500px;">
        </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>

</div>
<br>
<br>

<ul class="list-group" dir="rtl" id="categories">
    <li class="list-group-item " style="font-size: x-large;">
        {{#each cat}}
       <span class="list-group-item active">{{this.category}}</span>
        <ul  class="list-group" dir="rtl" style="position:relative;right:0;top:0;width: 25%;height: 100% ;margin-left: 90% ">
            {{#each subcategories}}
            <li style="font-size:large;"><a  href="/search/{{this.subcategory}}" >{{this.subcategory}}</a></li>
                {{/each}}
        </ul>
            {{/each}}
    </li>





</ul>
<div class="container" style="width: 80%;">

{{# each products }}
    <div>
        {{# each this }}
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img  src="{{this.imagepath}}" alt="..." class="img-responsive zoom" style="width:100%;height:200px;">
                    <div class="caption" dir="rtl">
                        <h3>{{this.title}}</h3>

                        <textarea readonly cols="40"  rows="5" class="description" style="resize:none;border-style: none;background: none ; overflow: auto;border-color: transparent">{{this.description}}</textarea>

                        <div class="clearfix">
                            <div class="price pull-right" style="font-family:Amiri ;margin-left: 150px; font-size:medium;font-weight: bold;"> السعر: {{this.price}} جنيه سودانى </div>
                            <div class="price pull-right" style="font-family:Amiri ;margin-left: 150px; font-size:medium;font-weight: bold;"> الكمية :{{this.quantity}} قطعة  </div>

<!--
                            <a href="/req_product/{{this._id}}" class="btn btn-success pull-right" style="margin-left: 300px" role="button">اضف الى العربة</a>
-->
                            <a href="/addtocart/{{this._id}}" class="btn btn-success pull-right" style="margin-left: 300px" role="button">اضف الى العربة</a>

                        </div>
                    </div>
                </div>
            </div>

        {{/each}}
    </div>

{{/each}}

</div>
</div>
<!--

<nav aria-label="..." style="position: relative ; top: 450px;left: 0; padding: 1rem; align-items: center;">
    <ul class="pagination">
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>-->
